<div id="s5">
	<div class="wrap">
		<div class="device">
			<div class="lock"></div>
			<div class="home"></div>
			<div class="camera"></div>
			<div class="speaker"></div>
			<div class="sensor"></div>
			<div class="inner"></div>
			<a class="screen" href="#"></a>
		</div>
	</div>
</div>