<div id="ipad" class="silver">
	<div class="wrap">
		<div class="device">
			<div class="inner"></div>
			<div class="camera"></div>
			<a class="screen" href=""></a>
			<div class="home"></div>
		</div>
	</div>
</div>