<div id="iphone5c" class="green">
	<div class="wrap">
		<div class="device">
			<div class="inner"></div>
			<div class="camera"></div>
			<div class="sleep"></div>
			<div class="sensor"></div>
			<div class="volume"></div>
			<div class="speaker"></div>
			<a class="screen" href="#"></a>
			<div class="home"></div>
		</div>
	</div>
</div>