<div id="iphone4s" class="silver">
	<div class="wrap">
        <div class="device">
            <div class="inner"></div>
            <div class="top-bar"></div>
            <div class="sleep"></div>
            <div class="volume"></div>
            <div class="middle-bar"></div>
            <div class="camera"></div>
            <div class="speaker"></div>
            <div class="sensor"></div>
            <a class="screen" href="http://marvelapp.com">Marvel</a>
            <div class="bottom-bar"></div>
            <div class="home"></div>
        </div>
	</div>
</div>