<div id="nexus5">
	<div class="wrap">
		<div class="device">
			<div class="button"></div>
			<div class="lock"></div>
			<div class="camera"></div>
			<div class="inner"></div>
			<a class="screen" href="#"></a>
		</div>
	</div>
</div>