/web/bundles/
/web/profile/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/web/media/*
/web/profile/*
/web/indexes/*
!/web/indexes/index.html
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/bin/
/vendor
/composer.phar
/nbproject/private/
/nbproject
/nbproject/project.properties
/nbproject/project.xml
