<section id="{{ section.content.id }}">
	<div class="container-fluid">
		<div class="section-title">
			<h1 class="">{{ section.content.data.h1 }}</h1>
		</div>
		<div id="carousel-captions" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carousel-captions" data-slide-to="0" class="active"></li>
				<li data-target="#carousel-captions" data-slide-to="1" class=""></li>
				<li data-target="#carousel-captions" data-slide-to="2" class=""></li>
			</ol>
			<div class="carousel-inner">
				<div class="item active">
					<blockquote>
						<p>Thank you so much Malick Cisse for your knowledge and guidance setting up my new website, I have already had some positive feedback from some of my ladies and gents, I will be recommending you.</p>
						<footer>Jane Porter - CEO Porter Web</footer>
					</blockquote>
				</div>
				<div class="item">
					<blockquote>
						<p>I was extremely impressed by Malick's high standard of service and design quality. There was no hard sell and he created a design exactly to my specifications within the agreed time frame. I am delighted with the result.</p>
						<footer>James Smith - Wexx opedia</footer>
					</blockquote>
				</div>
				<div class="item">
					<blockquote>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
						<footer>Loren Kathen - Tech Lead, Design Xyz</footer>
					</blockquote>
				</div>
			</div>
			<!--
			<a class="left carousel-control" href="#carousel-captions" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<a class="right carousel-control" href="#carousel-captions" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
			-->
		</div>
	</div>
</section>