{% extends 'OnepagrUserBundle:User:base.html.twig' %}
{% block form %}
<div class="container">

	<div class="row padding-top" style="">
		<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
			<div id="registration-form">
				<h1>Register For Free</h1>
				<h6>And start building today. </h6>
				<form role="form" id="">
					<fieldset>
						<div class="form-group">
							<input type="text" name="name" id="name" class="form-control input-lg" placeholder="Name">
						</div>
						<div class="form-group">
							<input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address">
						</div>
						<div class="form-group">
							<input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password">
						</div>

						<div class="row">
							<div class="col-xs-6 col-sm-6 col-md-6 pull-right">
								<input type="submit" class="btn btn-lg btn-success btn-block" value="Start Building">
							</div>

						</div>
					</fieldset>
					<p>By creating an account, you agree to Onepagr's <a target="_blank" href="#">Privacy Policy</a> and <a target="_blank" href="#">Terms</a>.</p>

				</form>
			</div>
					<div class="footnote"><h3>Already have an account? <a target="_self" class="redirect" href="#">Log in!</a></h3></div>

		</div>
	</div>

</div>
{% endblock %}