<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- meta section -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="media/logo/favicon.ico">

        <title>Onepagr - One Page Website Builder | Color Switch </title>
        <meta name="Description" Content="One page website builder" />
        <meta name="Keywords" Content="One page website builder, one page creator, Free, modular, snippets, free high resolution images, Free high resolution background, responsive" />
        <meta name="language" content="en" />
        <meta name="distribution" content="global" />
        <meta name="rating" content="general" />
        <!-- meta section end-->
        <link href="http://fonts.googleapis.com/css?family=Pacifico" media="screen" rel="stylesheet" type="text/css" />
        <link href="web/bootstrap-3.1.1-dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="theme/default-head-libre-baskerville.css" rel="stylesheet">
        <link href="theme/color.css" rel="stylesheet">
        <link href="theme/button.css" rel="stylesheet">
        <link href="theme/align.css" rel="stylesheet">
        <link href="theme/color-switch.css" rel="stylesheet">
        <link href="web/animate.min.css" rel="stylesheet">
        <link href="web/assets/builder/css/jquery-ui-1.10.4.min.css" rel="stylesheet" />
        <link href="web/font-awesome-4.0.3/css/font-awesome.min.css" rel="stylesheet" />
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css' />
        <link href="web/assets/builder/css/nav.css" rel="stylesheet" />

        <!-- Custom styles for this template -->
        <!--<link href="jumbotron.css" rel="stylesheet">-->
        <!-- Just for debugging purposes. Don't actually copy this line! -->
        <!--[if lt IE 9]><script src="assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body role="document" style="">

        <!-- Fixed navbar -->
        <section class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
            </div>
        </section>
        <section id="op-header-bg" class="">

        </section>
        <section id="op-header-gradient" class=""></section>
        <section id="op-header" class="container-fluid theme-showcase content gradient" role="main">

            <div class="slider content centered">
                <!--<p><center><img src="media/logo/one-pager-logo.png" class="img-responsive centered" alt="Onepagr logo" title="Onepagr logo" /></center></p>-->
                <br /><br />
                <p>
                    <i class="logo fa fa-bolt fa-4x"></i><br />
                    <span class="logo-text">Onepagr</span>
                </p>

                <h1 class="op-h-bordered wow fadeInLeft animated animated op-editable" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">Build A Beautiful Web With Simplicity</h1>


                <p>
                    <a href="mailto:onepagr@gmail.com" class="btn btn-default btn-lg contact-us"><i class="fa fa-envelope"></i> Contact US</a>
                </p>
                <div class="clearfix"><br /><br /></div>

            </div>
        </section>

        <!--Services section-->
        <!--
        <section class="section">

                <div class="container op-rowable">
                        <div class="row op-row">
                                <div class="col-lg-4 col-md-4 op-col">
                                        <h3 class="op-editable"><i class="fa fa-check-circle"></i> Bootstrap 3 Built</h3>
                                        <p class="op-editable">The 'Modern Business' website template by <a href="http://startbootstrap.com">Start Bootstrap</a> is built with <a href="http://getbootstrap.com">Bootstrap 3</a>. Make sure you're up to date with latest Bootstrap documentation!</p>
                                </div>
                                <div class="col-lg-4 col-md-4 op-col">
                                        <h3 class="op-editable"><i class="fa fa-pencil"></i> Ready to Style &amp; Edit</h3>
                                        <p class="op-editable">You're ready to go with this pre-built page structure, now all you need to do is add your own custom stylings! You can see some free themes over at <a href="http://bootswatch.com">Bootswatch</a>, or come up with your own using <a href="http://getbootstrap.com/customize/">the Bootstrap customizer</a>!</p>
                                </div>
                                <div class="col-lg-4 col-md-4 op-col">
                                        <h3 class="op-editable"><i class="fa fa-folder-open"></i> Many Page Options</h3>
                                        <p class="op-editable">This template features many common pages that you might see on a business website. Pages include: about, contact, portfolio variations, blog, pricing, FAQ, 404, services, and general multi-purpose pages.</p>
                                </div>
                        </div>

                </div>
        

        </section>
        
        <div id="color-palette">

        </div>

        <nav class="main-nav" id="app-nav">
                <a href="" id="nav-sections" class=""><i class="fa fa-columns"></i>Section</a>
                <a href="" id="nav-content" class=""><i class="fa fa-edit"></i>Content</a>
                <a href="" id="nav-code" class=""><i class="fa fa-eye"></i>Media</a>
                <a href="" id="nav-code" class=""><i class="fa fa-magic"></i>Theme</a>
                <a href="" id="nav-code" class=""><i class="fa fa-eye"></i>Background</a>
                <a href="" id="nav-code" class=""><i class="fa fa-play"></i>Animation</a>
        </nav>
        -->

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <script src="web/assets/builder/js/jquery-1.11.0.min.js"></script>
        <script src="web/js/color.js"></script>

        <!--<script src="web/bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>-->
        <script type="text/javascript">
            // for ipad bind set timeout issue
            Function.prototype.bind = function(parent) {
                var f = this;
                var args = [];

                for (var a = 1; a < arguments.length; a++) {
                    args[args.length] = arguments[a];
                }

                var temp = function() {
                    return f.apply(parent, args);
                }

                return(temp);
            }
            $(function() {
                
                var webColors = {
                    navy: {hex: '#001F3F', label: 'NAVY'},
                    blue: {hex: '#0074D9', label: 'BLUE'},
                    aqua: {hex: '#7FDBFF', label: 'AQUA'},
                    teal: {hex: '#39CCCC', label: 'TEAL'},
                    olive: {hex: '#3D9970', label: 'OLIVE'},
                    green: {hex: '#2ECC40', label: 'GREEN'},
                    lime: {hex: '#01FF70', label: 'LIME'},
                    yellow: {hex: '#FFDC00', label: 'YELLOW'},
                    orange: {hex: '#FF851B', label: 'ORANGE'},
                    red: {hex: '#FF4136', label: 'RED'},
                    maroon: {hex: '#85144B', label: 'MAROON'},
                    purple: {hex: '#B10DC9', label: 'PURPLE'},
                    fuchsia: {hex: '#F012BE', label: 'FUCHSIA'},
                    white: {hex: '#FFFFFF', label: 'WHITE'},
                    silver: {hex: '#DDDDDD', label: 'SILVER'},
                    grey: {hex: '#AAAAAA', label: 'GRAY'},
                    black: {hex: '#111111', label: 'BLACK'}
                };
                
                var webColors = {
                    aoi: {hex: '#69D2E7', label: 'AOI'},
                    cleanpondwater: {hex: '#A7DBD8', label: 'CLEAN PONDWATER'},
                    beachstorm: {hex: '#E0E4CC', label: 'BEACH STORM'},
                    giantgoldfish: {hex: '#F38630', label: 'GIANT GOLDFISH'},
                    unrealfoodpills: {hex: '#FA6900', label: 'UNREAL FOOD PILLS'}
                };
                
                // Flat
                 var webColors = {
                    polooparet: {hex: '#CDCBA6', label: 'POLOO PARET'},
                    so1234: {hex: '#008891', label: 'SO 1234'},
                    murky: {hex: '#00587A', label: 'MURKY'},
                    midnightblue: {hex: '#0F3057', label: 'MIDNIGHT BLUE'}
                };
                
                // Flat ZEN
                 var webColors = {
                    polooparet: {hex: '#249991', label: 'LBA 21'},
                    so1234: {hex: '#E76B6B', label: 'PERFECT PINK'},
                    murky: {hex: '#FEFEFE', label: 'SNOW BLIND'},
                    midnightblue: {hex: '#42729B', label: 'SUNSET BLUE'}
                };


                var animate = {
                    webColors: webColors,
                    key: 0,
                    next: function() {
                        if (typeof this._webColors[this.key] !== 'undefined') {
                            $return = this.webColors[this._webColors[this.key]];
                            this.key++;
                            return $return;
                        }
                        this.key = 1;
                        return this.webColors[this._webColors[0]];
                    },
                    start: function() {
                        this._webColors = new Array();
                        for (var key in this.webColors) {
                            this._webColors.push(key);
                        }
                        this.loop();
                    },
                    loop: function() {
                        var $color = this.next().hex;
                        console.log($color);
                        var color = Color($color);

                        $('#op-header-bg').css({background: $color});
                        $('.contact-us').css('background-color', color.darken(0.5).hexString());
                        setTimeout(function() {
                            this.loop();
                        }.bind(this), 2000);
                    }
                };

                animate.start();

                // $('.contact-us').
				// css('background-color', color.opaquer(0.5) .hexString());
            });
        </script>
        <script id="color-thief-output-template" type="text/template">
            <div class="function get-color">
            <h3 class="function-title">Dominant Color</h3>
            <div class="swatches">
            <div class="swatch" style="background-color: rgb(<%= color[0] %>, <%= color[1] %>, <%= color[2] %>)"></div>
            </div>

            </div>
            <div class="function get-palette">
            <h3 class="function-title">Palette</h3>
            <div class="function-output">
            <div class="swatches">
            <% _.each(palette, function(c) { %> 
            <div class="swatch" style="background-color: rgb(<%= c[0] %>, <%= c[1] %>, <%= c[2] %>)"></div>
            <% }); %>
            </div>
            </div>

            </div>
        </script>
        <style type="text/css" id="header-style">

        </style>

    </body>
</html>