{% block opheader %}
<section id="op-header-bg" class=""></section>
<section id="op-header-gradient" class=""></section>
<section id="op-header" class="container-fluid theme-showcase content gradient" role="main" id="top">
	<div class="row content text-center center-block">

		<p id="intro" class="wow fadeInLeft animated animated op-editable" data-wow-delay="0.1s" style="visibility: visible;-webkit-animation-delay: 0.1s; -moz-animation-delay: 0.1s; animation-delay: 0.1s;"><span>Introducing</span> Onepagr</p>
             
					
				<h1 class="op-h-bordered wow fadeInLeft animated animated op-editable" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">Build A Beautiful Web With Simplicity</h1>
				
				<p id="beta-invite" class="op-h-bordered wow fadeIn animated animated op-editable" data-wow-delay="1s" style="visibility: visible;-webkit-animation-delay: 1s; -moz-animation-delay: 1s; animation-delay: 1s;">
                    We're launching into a closed <strong>beta</strong> soon!
                    <span>Enter your email below to secure a spot.</span>
                </p>
                <div id="requestInvite" class="">
                    <form method="post" name="mc-embedded-subscribe-form" action="http://onepagr.us8.list-manage.com/subscribe/post?u=8ac8f7e2595065bfb4aff98da&amp;id=48e2551f38" role="form" class="form-inline" novalidate>
                        <div class="form-group">
                            <input type="text" name="EMAIL" class="form-control col-md-5 col-lg-5" placeholder="Your email address" required />
						</div>

						<button type="submit" class="btn btn-primary op-editable" value="Request your invite">Request your invite</button>
						<div style="position: absolute; left: -5000px;"><input type="text" name="b_8ac8f7e2595065bfb4aff98da_48e2551f38" value=""></div>
                    </form>

                </div>
	</div>
</section>


<script src="{{ asset('assets/main/js/wow.min.js') }}"></script>
<link href="{{ css }}" rel="stylesheet" />
<style>

</style>
<script>
$(function() {


	new WOW().init();


});
</script>
{% endblock %}
