<section id="services-section" class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- col-md-12 -->
                    <div class="col-md-12">

                        <!-- section-title -->
                        <div class="section-title">
                            <h1 class="">
								Services
							</h1>
                        </div><!-- /section-title -->

                    </div><!-- /col-md-12 -->

                    <!-- col-md-6 -->
                    <div class="col-md-6">

                        <!-- services-section -->
                        <div class="services-section uk-scrollspy-init-inview uk-scrollspy-inview uk-animation-slide-right" data-uk-scrollspy="{cls:'uk-animation-slide-right', delay:500, repeat: true}">

                            <!-- services-icon -->
                            <div class="services-icon">
                                <i class="fa fa-pencil"></i>
                            </div><!-- /services-icon -->

                            <!-- title-main -->
                            <div class="title-main">
                                <h1>Design</h1>
                            </div><!-- /title-main -->

                            <!-- title-desc -->
                            <div class="title-desc">
                                <h4>Brand identity</h4>
                            </div><!-- /title-desc -->

                            <!-- containt -->
                            <div class="containt">
                                <p>
									Our designers will be available to help you choose colors, create your logo, select fonts; to increase your online presence from your launching page to your fully fledged operation application.
								</p>
                            </div><!-- /containt -->

                        </div><!-- /services-section -->

                    </div><!-- /col-md-6 -->

					
                    <!-- col-md-6 -->
                    <div class="col-md-6">

                        <!-- services-section -->
                        <div class="services-section uk-scrollspy-init-inview uk-scrollspy-inview uk-animation-slide-left" data-uk-scrollspy="{cls:'uk-animation-slide-left', delay:500, repeat: true}">
                            <!-- services-icon -->
                            <div class="services-icon">
                                <i class="fa fa-code"></i>
                            </div><!-- /services-icon -->

                            <!-- title-main -->
                            <div class="title-main">
                                <h1>Development</h1>
                            </div><!-- /title-main -->

                            <!-- title-desc -->
                            <div class="title-desc">
                                <h4>We develop with you the way..</h4>
                            </div><!-- /title-desc -->

                            <!-- containt -->
                            <div class="containt">
                                <p>
									Our highly-skilled software development team of architects, back-end and front-end developers and designers use the latest programming languages and techniques in the delivery of products in an agile manner.
								</p>
                            </div><!-- /containt -->

                        </div><!-- /services-section -->

                    </div><!-- /col-md-6 -->

                    <!-- col-md-6 -->
                    <div class="col-md-6">

                        <!-- services-section -->
                        <div class="services-section uk-scrollspy-init-inview uk-scrollspy-inview uk-animation-slide-left" data-uk-scrollspy="{cls:'uk-animation-slide-left', delay:700, repeat: true}">

                            <!-- services-icon -->
                            <div class="services-icon">
                                <i class="fa fa-dollar"></i>
                            </div><!-- /services-icon -->

                            <!-- title-main -->
                            <div class="title-main">
                                <h1>Budget</h1>
                            </div><!-- /title-main -->

                            <!-- title-desc -->
                            <div class="title-desc">
                                <h4>We help achieve within budget</h4>
                            </div><!-- /title-desc -->

                            <!-- containt -->
                            <div class="containt">
                                <p>
									We know cash is tight for startups and that is why we accept payments in equity.
								</p>
                            </div><!-- /containt -->

                        </div><!-- /services-section -->

                    </div><!-- /col-md-6 -->


                    <!-- col-md-6 -->
                    <div class="col-md-6">

                        <!-- services-section -->
                        <div class="services-section uk-scrollspy-init-inview uk-scrollspy-inview uk-animation-slide-right" data-uk-scrollspy="{cls:'uk-animation-slide-right', delay:700, repeat: true}">

                            <!-- services-icon -->
                            <div class="services-icon">
                                <i class="fa fa-group"></i>
                            </div><!-- /services-icon -->

                            <!-- title-main -->
                            <div class="title-main">
                                <h1>Team Recruitment</h1>
                            </div><!-- /title-main -->

                            <!-- title-desc -->
                            <div class="title-desc">
                                <h4>Together we will build your team </h4>
                            </div><!-- /title-desc -->

                            <!-- containt -->
                            <div class="containt">
                                <p>
									It's tough times for companies trying to hire software developers. We will help you put your team together with the required skill set to maintain your product.
								</p>
                            </div><!-- /containt -->

                        </div><!-- /services-section -->

                    </div><!-- /col-md-6 -->


                </div><!-- /row -->
            </div><!-- /container -->
        </section>