{% extends 'OnepagrUserBundle::layout.html.twig' %}
{% block body %}
<section id="header" class="section">
	<div class="layer  layer3"></div>
	<div class="layer layer2"></div>
	<div class="layer layer1">
		Hello world
	</div>
</section>

{% endblock %}

{% block footerscript %}
{{ parent() }}
{% for _css in cssList %}

<script>
	$(function() {

	});
</script>
{% endblock %}