<div class="wrap" data-wow-duration="5s">
	<div class="title-bar"><ul><li class="close-window"></li><li class="minimise-window"></li><li class="maximise-window"></li></ul></div>
	<div class="screen"></div>
</div>
<style type="text/css">

	/* text editor styles */

</style>